# sudo vi /etc/systemd/system/sendspin_bedroom.service
# sudo systemctl daemon-reload
[Unit]
Description=Sendspin Bedroom
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
User=sendspin
Environment=XDG_RUNTIME_DIR=/run/user/997
ExecStart=/home/sendspin/.local/bin/sendspin daemon --hardware-volume false --static-delay-ms -50 --audio-format flac:48000:24:2 --id bedroom --name "Bedroom" --url ws://192.168.1.15:8927/sendspin --audio-device "usb_card_bedroom"
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
SupplementaryGroups=audio

[Install]
WantedBy=multi-user.target
